@import "../../styles/variables";
@import "../../styles/mixins";

.event-position {
	margin-top: $component-centered;
	@include breakpoint(desktop) {
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.size-card {
	@include breakpoint(desktop) {
		width: 1400px;
	}
}
